<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <h1>Playground</h1>
    <% if(true) {%>
        <h1>Its True</h1>
    <%} else {%>
        <h1>Its False</h1>
    <%}%>
    <ul>
        <% for(let i=0; i<10; i++){ %>
            <li><%= `This is Item ${i+1}` %></li>
        <%}%>
    </ul>
</body>
</html>